In [62]:
import sys
!{sys.executable} -m pip install -qq pandas faker

In [63]:
import random
import numpy as np
import pandas as pd

In [64]:
import faker

In [65]:
fake = faker.Faker()

In [66]:
SAMPLETYPES = ["Blood", "Urine", "Serum"]

In [75]:
MIN_DELAY_HOURS = 4
MAX_DELAY_HOURS = 168

In [76]:
DATASET_SIZE = 1000

In [77]:
specimens = pd.DataFrame(
    {
        "LABID": [fake.ean8() for i in range(DATASET_SIZE)],
        "SUBJECTID": [fake.ean8() for i in range(DATASET_SIZE)],
        "SAMPLETYPE": [random.choice(SAMPLETYPES) for i in range(DATASET_SIZE)],
        "CONTAINERID": [fake.ean8() for i in range(DATASET_SIZE)],
        "ACCESSION": ["A" + fake.ean8() for i in range(DATASET_SIZE)],
        "DATE_COLLECTED": [fake.date_time_this_century() for i in range(DATASET_SIZE)],
    }
)

In [81]:
# Add date received that is between 4 and 168 hours (one week) after date collected
specimens["RECEIVE_DELAY_MINUTES"] = np.random.randint(MIN_DELAY_HOURS*60, MAX_DELAY_HOURS*60, size=DATASET_SIZE)
specimens["DATE_RECEIVED"] = specimens["DATE_COLLECTED"] + pd.to_timedelta(
    specimens["RECEIVE_DELAY_MINUTES"], unit="m"
)
specimens.drop(columns=["RECEIVE_DELAY_MINUTES"], inplace=True)

In [82]:
specimens

,LABID,SUBJECTID,SAMPLETYPE,CONTAINERID,ACCESSION,DATE_COLLECTED,DATE_RECEIVED
0,75062507,00245197,Blood,19565309,A64382210,2008-01-24 04:30:40,2008-01-24 15:45:40
1,71746661,95645377,Urine,85089419,A20040574,2013-06-18 08:06:38,2013-06-22 08:33:38
2,01233964,32831337,Urine,13524883,A49724448,2014-11-01 01:50:40,2014-11-05 06:42:40
3,77753748,85500921,Serum,66818403,A14368011,2019-11-13 12:38:13,2019-11-16 02:50:13
4,63428858,56068078,Blood,37850876,A25679960,2008-06-27 13:03:16,2008-06-30 23:50:16
...,...,...,...,...,...,...,...
995,69417405,31278843,Blood,64759753,A68860684,2005-05-24 01:09:19,2005-05-27 12:34:19
996,75418250,95870625,Serum,90075384,A62946650,2004-04-16 05:26:23,2004-04-21 06:08:23
997,95966496,71600451,Serum,18913637,A99499310,2019-07-31 13:47:03,2019-08-01 01:37:03
998,62009218,50747696,Serum,65401071,A51452827,2000-06-25 17:57:34,2000-06-30 23:45:34
999,65429273,37441319,Blood,37247119,A74086207,2007-12-16 19:47:19,2007-12-19 03:01:19